body {
  background-color: black;
  color: white; /* Change the text color to white for better visibility */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

p {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
}

.nav-list li {
  margin: 0 10px;
}

.button-container {
  background-color: gray;
  width: 100%;
  //padding: 1px 0px; /* Add horizontal padding */
}

.email-box {
  border: 1px solid white;
  padding: 10px;
  width: fit-content;
  margin: auto;
  background-color: #333; /* Dark gray background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  text-align: center; /* Centered text */
}
